{% extends "base.html" %}

{% block title %}Vegan Menu{% endblock %}

{% block content %}
<div class="row align-items-center text-center text-lg-start">
    <div class="col-lg-6">
        <h1 class="fw-bold text-dark">BIENVENIDOS A MI PAGINA NUTRICIONAL</h1>
        <p class="text-muted mb-4">En este sitio web podras encontrar resetas saludables .</p>
        <a href="#" class="btn btn-success px-4 py-2">Read More</a>

        <div class="d-flex justify-content-center justify-content-lg-start mt-4">
            <div class="me-4">
                <h6 class="fw-bold text-success mb-0">COMIDAS SALUDABLES </h6>
                <small class="text-muted">Podras encontrar platillos saludables y faciles de preparar y ajustandose a tus necesidades </small>
            </div>
            <div>
                <h6 class="fw-bold text-success mb-0">ETIQUETAS</h6>
                <small class="text-muted">Podras saber las calorias y los niveles de azucar de cada alimento que contendra tus platillos saludables </small>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mt-4 mt-lg-0 text-center">
        <img src="{{ url_for('static', filename='img/img1.jpg') }}" class="img-fluid rounded-3" alt="Vegetables">
    </div>
</div>
{% endblock %}