{% extends "base.html" %}

{% block title %}Vegan Menu{% endblock %}

{% block content %}
<div class="row align-items-center text-center text-lg-start">
    <div class="col-lg-6">
        <h1 class="fw-bold text-dark">BIENVENIDOS </h1>
        <p class="text-muted mb-4">En este sitio web podrás encontrar <strong>recetas saludables y rutinas de ejercicio</strong>, consejos de nutrición 
            y trucos para mantener una alimentación equilibrada. 
            Descubre cómo preparar comidas deliciosas, fáciles y llenas de energía, 
            adaptadas a tus gustos y necesidades.</p>
        
        <div class="d-flex justify-content-center justify-content-lg-start mt-4">
            <div class="me-4">
                <h6 class="fw-bold text-success mb-0">COMIDAS SALUDABLES </h6>
                <small class="text-muted">Aqui podras encontrar una gran variedad de platillos equilibrados que te ayudarán a mantener una alimentación nutritiva sin sacrificar el sabor. 
                    Nuestras recetas están diseñadas para diferentes objetivos: bajar de peso, ganar masa muscular o simplemente comer mejor cada día. </small>
            </div>
            <div>
                <h6 class="fw-bold text-success mb-0">RUTINAS DE EJERCICIO</h6>
                <small class="text-muted"> Complementa tu alimentación saludable con rutinas de ejercicio diseñadas para todos los niveles. 
                    Aquí encontrarás entrenamientos que puedes realizar desde casa o en el gimnasio, sin necesidad de equipo especializado.</small>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mt-4 mt-lg-0 text-center">
        <img src="{{ url_for('static', filename='img/img1.jpg') }}" class="img-fluid rounded-3" alt="Vegetables">
    </div>
</div>
{% endblock %}